@{
    ViewData["Title"] = "Buy Books!";
}

@model BookListViewModel

<!--Title Text for Page-->
<div class="text-center col-12">
    <h1 class="display-4">Buy Books!</h1>
    <h3 class="modal-title text-dark bg-info font-weight-bold">Filter By Category Below</h3>
</div>

<br />
<!--Import information for the category filter options-->
<div class="col-12 text-center">
    <vc:navigation-menu />
</div>

<br />
 
<!--Table for all books to be listed-->
<div class="text-center col-12">
    <div class="text-center">
        <table class="center table table-striped table-bordered table-hover table-info">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author First Name</th>
                    <th>Author Middle Initial</th>
                    <th>Author Last Name</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Page Count</th>
                </tr>
            </thead>

            <tbody>
                <!--Loops through all of the submitted restaurants to print them out here.-->
                <!--Information to loop through is located in a seperate .cshtml file called BookSummary.cshtml, which is imported into here-->
                @foreach (var x in Model.Books)
                {
                    <partial name="BookSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
</div>

<!--page navigation numbers, with added styling features-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-dark"
     page-url-category="@Model.CurrentCategory"
     class="text-center bg-info">
</div>